@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {

    cursor:move;
    @apply text-lg
}
.padding_add{
    padding-left: 3%;
    padding-right: 3%
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #181818;
}

.bg-secondery {
    background: #454545;
}

.bg-accent {
    background: #CC6666;
}

.text-accent {
    color: #CC6666;
}
.btn{
    border-radius: 25%;
}

nav li a {
   
    @apply px-4 py-5 text-lg;
}


nav li a:hover {
    color: #CC6666;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-black duration-500;
   
}


h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}

  
  